<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-2 my-2">To Do List</h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)]="addTaskValue">
                        <div class="input-group-append">
                          <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
                        </div>
                      </div>
                </div>
                <h4 class="text-primary mt-4">Tasks: </h4>
                <div style="overflow-y:auto; height: 350px">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p-2 shadow border">
                            <div class="input-group row ps-3">
                                <div class="card col-8 col-lg-9 border-0"> {{task.taskName}} </div>
                                <button class="btn btn-outline-primary col col-lg-1 p-1 me-2"data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" (click)="call(task)"><i class="fa fa-pencil-square-o"></i></button>
                                <button class="btn btn-outline-danger col col-lg-1 p-1" (click)="deleteTask(task)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group p-4">
                                <input type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)]="editTaskValue">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-success" data-bs-dismiss="modal" type="button" (click)="editTask()">Update</button>
                                </div>
                              </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>